---
title: Community
description: There are so many ways to get involved in Crystal. Here's a list of our main communication channels and resources.<br/> Check out our <a href="/team">Team page</a> to meet the people.
---
<div class="container">

{% capture security_title %}{% t community.security.title %}{% endcapture %}
{% capture security_content %}{% t community.security.content_html %}{% endcapture %}

{% include community_row.html
          title=security_title
          divId="security"
          content=security_content
          link_text="security@manas.tech"
          url="mailto:security@manas.tech"
          icon="security"
%}

{% capture code_title %}{% t community.code.title %}{% endcapture %}
{% capture code_content %}{% t community.code.content_html %}{% endcapture %}

{% include community_row.html
          title=code_title
          divId="code"
          content=code_content
          link_text="crystal-lang/crystal"
          url="https://github.com/crystal-lang/crystal/"
          icon="github"
          custom_icon=true
%}

{% capture forum_title %}{% t community.forum.title %}{% endcapture %}
{% capture forum_content %}{% t community.forum.content_html %}{% endcapture %}

{% include community_row.html
          title=forum_title
          divId="discuss"
          content=forum_content
          link_text="forum.crystal-lang.org"
          url="https://forum.crystal-lang.org"
          icon="forum"
%}

{% capture blog_title %}{% t community.blog.title %}{% endcapture %}
{% capture blog_content %}{% t community.blog.content_html %}{% endcapture %}

{% include community_row.html
          title=blog_title
          divId="blog"
          content=blog_content
          link_text="Crystal Blog"
          url="/blog"
          icon="chat_bubble_outline"
          internal_link="true"
%}

{% capture chat_title %}{% t community.chat.title %}{% endcapture %}
{% capture chat_content %}{% t community.chat.content_html %}{% endcapture %}

{% include community_row.html
          title=chat_title
          divId="chat"
          content=chat_content
          link_text="crystal-lang/crystal"
          url="https://gitter.im/crystal-lang/crystal"
          icon="gitter"
          continues=true
          custom_icon=true
%}

{% capture libera_chat_content %}{% t community.libera_chat.content_html %}{% endcapture %}

{% include community_row.html
          title=""
          divId="liberachat"
          content=libera_chat_content
          link_text="#crystal-lang"
          url="https://web.libera.chat/#crystal-lang"
          icon="libera_chat"
          continues=true
          custom_icon=true
%}

{% capture discord_content %}{% t community.discord.content_html %}{% endcapture %}

{% include community_row.html
          title=""
          content=discord_content
          link_text="Crystal Programming"
          url="https://discord.gg/YS7YvQy"
          icon="discord"
          custom_icon=true
          continues=true
%}

{% include community_row.html
          title=""
          content="Small but brave community to help each other with Crystal. Main language is russian but you may ask something in english too."
          link_text="Crystal - Russian speaking community"
          url="https://t.me/crystal_ru"
          icon="telegram"
          custom_icon=true
%}

{% include community_row.html
          title="General Announcements and Events"
          divId="twitter"
          content="The Twitter account will often tweet general announcements on releases and events, and retweet any interesting articles from the tweetosphere. Be sure to mention it if you are tweeting about Crystal!"
          link_text="@CrystalLanguage"
          url="https://twitter.com/CrystalLanguage"
          icon="twitter"
          custom_icon=true
%}

{% include community_row.html
          title="Share Your Work"
          divId="reddit"
          content="The Crystal Programming subreddit contains announcements on new releases, interesting libraries, blog posts, and is in general a good place to share your work with the rest of the Crystal community."
          link_text="Crystal Programming"
          url="https://www.reddit.com/r/crystal_programming/"
          icon="reddit"
          custom_icon=true
%}

{% include community_row.html
          title="Ask For Help"
          divId="stackoverflow"
          content="Of course, there is a crystal-lang tag in StackOverflow. Ask for help with your Crystal project there, or help other people solve theirs - learning &amp; sharing all the way through."
          link_text="crystal-lang"
          url="https://stackoverflow.com/questions/tagged/crystal-lang?sort=newest"
          icon="stack_overflow"
          custom_icon=true
%}

{% include community_row.html
          title="Crystal Shards, Tools and Tutorials"
          divId="shards"
          content="Following the awesome-lists tradition, the awesome-crystal GitHub repository contains a curated list of Crystal shards, tools and tutorials. If you want your contribution to Crystal to be listed here, fork the repository, add it to the list and send a pull request."
          link_text="awesome-crystal"
          url="https://github.com/veelenga/awesome-crystal"
          icon="awesome"
          continues=true
          custom_icon=true
%}

{% include community_row.html
          title=""
          divId="shardbox"
          content="A database of Crystal shards. It helps developers to discover shards and the Shards ecosystem."
          link_text="Shardbox.org"
          url="https://shardbox.org/"
          continues=true
          icon="play_arrow"
%}

{% include community_row.html
          title=""
          content="View of all repositories on GitHub and GitLab that have Crystal code in them and easily identify the dependencies and the associated releases."
          link_text="shards.info"
          url="https://shards.info/"
          continues=true
          icon="play_arrow"
%}

{% include community_row.html
          title=""
          content="The crystalshards.org service provides an uncurated view of all repositories on GitHub that have Crystal code in them.  With its search capability you can find the shard or application you're looking for."
          link_text="crystalshards.org"
          url="https://crystalshards.org"
          icon="play_arrow"
%}

{% include community_row.html
          title="Newsletter"
          divId="newsletter"
          content="Crystal Weekly summarizes every news of the Crystal community in a short, focused newsletter. You can subscribe to it and even see the past issues on the web."
          link_text="Crystal Weekly"
          url="http://www.crystalweekly.com/"
          icon="mail_outline"
%}

</div>
